name: Echo Secrets and Variables
on:
  push:
    branches:
      - main
jobs:
  build:
    runs-on: ubuntu-latest
    env:
      MY_VARIABLE: "This is not a secret"
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Echo environment variables
        run: echo "My environment variable is $MY_VARIABLE" 
      - name: Echo GitHub secret
        run: echo "My GitHub secret is ${{ secrets.MY_GITHUB_SECRET }}"
